@import '../abstract/color';
@import '../core/mixins';

.home__header{
    border-bottom: 1px solid #262626;
    .left__col{
        border-right: 1px solid #262626;
        padding: 0;
    }
    .__right__col{
        padding-left: 0;
    }
    .left__content{
        .home__header__content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex:  1 1 0;
            padding: 30px 50px;
            display: flex;
            row-gap: 15px;
            flex-direction: column;
            p.content__top{
                font-weight: 500;
                font-size: 1.5rem;
            }
            h3.header__heading{
                font-size: 3rem
            }
            p.content__bottom{
                font-size: 1rem;
            }
        }
    }
    .text__boxes{
        .col-4{
            padding: 0 !important;
            margin: 0;
        }
        .text__box{
            border: 1px solid #262626;
            border-bottom: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            flex-direction: column;
            &.__first{
                border-left: none;
            }
            &.__last{
                border-right: none;
                height: 100%;
            }
        }
    }
    .header__right__content{
        padding:  0 0 30px 0;
        .top__img{
            img{
                height: 70vh;
                opacity: .4;
                width: auto;
            }
        }
        .img__bottom__box{
            padding-left: 80px;
            position: relative;
            margin-top: -150px;
        }
    }
    @media screen and (max-width: 768px) {
        .left__content{
            .home__header__content{
                padding: 20px;
                padding-top: 40px;
                
            }
        }
        .header__right__content{
            .top__img{
                img{
                    height: 50vh;
                }
            }
            .img__bottom__box{
                padding-left: 80px;
                position: relative;
                margin-top: -250px;
                
            }
        }
    }
}

.sub__header{
    border-bottom: 1px solid #262626;

   .border-col{
        border-right: 1px solid #262626;

   }
   .sub__header__box{
    padding: 25px 40px;
    .box__left__img{
        margin-bottom: 20px;
    }
    .sub__img{
        .left__heading{
            color: $white;
        }
        .left__sub__heading{
            margin-bottom: 20px;
        }
        .link__fill{
            background-color: $primary;
            color: $black;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 50px;
            height: 50px;
        }
    }
   }
}

.home__features{
    .feature__left__heading{
    }
    .feature__topic{
        .feature__right__boxes{
            
            .row{
                row-gap: 15px;
            }
            .feature__box{
                padding: 30px;
                border-radius: 7px;
                border: 1px solid #262626;
            }
        }
    }
}

.home__blogs{
    .blog__container{
        padding: 60px 0;
        .home__blog__article{
            .home__blog__article__auth{
                column-gap: 25px;
                .auth__data{
                    h2{
                        font-size: 1rem;
                        font-weight: 700;
                        margin-bottom: 2px;
                    }
                    p{
                        font-size: .9rem;
                    }
                }
            }
            .home__blog__article__mid{
                display: flex;
                flex-direction: column;
                .blog__date{
                    font-weight: 700;
                    font-size: .9rem;
                    margin-bottom: 20px;

                }
                .blog__title{
                    font-size: 26px;
                    margin-bottom: 0;
                }
                .blog__body{
                    margin: 10px 0 20px 0;
                }
                .blog__interactions{
                    gap: 20px;
                    .blog__interaction{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        padding: 8px 15px;
                        border-radius: 50px;
                        border: 1px solid #262626;
                        background-color: $dark-2;
                        color: $grey-1;
                        font-size: 1.1rem;
                        .__icon{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
    .home__blogs__filter__form{
        .row{
            column-gap: 20px;
        }
        .home__blogs__filter__btns{
            @include scrollbar();
        }
        .btn__filter__item{
            margin: 20px 0 0;
            border: none;
            background: none;
            border: 2px solid #262626;
            padding: 15px 20px;
            border-radius: 5px;
            color: $grey-1;
            &.--active{
                background-color: $dark-2;
            }
        }
    }
    @media screen and (max-width: 400px) {
        .blog__container{
            .home__blog__article{
                .home__blog__article__auth{
                    align-items: center;
                    column-gap:unset ;
                    overflow: hidden;
                    .auth__data{
                        margin-left: 10px;
                        h2{
                            font-size: .9rem;
                            font-weight: 700;
                            margin-bottom: 2px;
                            white-space: nowrap;
                        }
                        p{
                            font-size: .8rem;
                            white-space: nowrap;
                        }
                    }
                }
                .home__blog__article__mid{
                    .blog__interactions{
                        .blog__interaction{
                            padding: 4px 12px;
                            font-size: 1rem;
                        }

                    }
                }
            }
        }
    }
    
}


.error-blogs{
    .error__btn{
        border: 1px solid $grey-4;
        color: $primary;
        border-radius: 10px;
        padding: 10px 20px;
        background: none;
    }
}

.home__testimonials{
    .testimonials__box{
        .testimonial__body{
            padding-top: 40px !important;
            .testimonial__stars{
                top: -10%;
                padding: 10px;
                border-radius: 20px;
                left: 50%;
                transform: translateX(-50%);
                column-gap: 7px;
            }
        }
    }
}

