@import '../../abstract/color';
.section__head{
    padding: 80px 0;
    .top__tag{
        background-color: $grey-4;
        padding: 7px;
        border-radius: 5px;
        color: $white;
        margin-bottom: 20px;
    }
    
    @media screen and (max-width: 768px) {
        padding: 60px 0;
        .left_heading{
            h3{
                font-size: 1.7rem;
            }
        }
    }
}