.bg-primary-1{
    background-color: $primary;
}

.bg-dark-2{
    background-color: $dark-2
}

.bg-dark-1{
    background-color: $dark-1;
}


.clr-primary-1{
    color: $primary;
}

.c-bk{
    color:$black;
}
.c-wh{
    color:$white;
}
.c-main{
    color:$primary;
}
.c-grey-1{
    color:$grey-1;
}
.c-grey-2{
    color:$grey-2;
}
.c-grey-3{
    color:$grey-3;
}

.rounded-10{
    border-radius: 10px;
}



.br-b{
    border-bottom: 1px solid $dark-4;

}
.br-l{
    border-left: 1px solid $dark-4;

}
.br-r{
    border-right: 1px solid $dark-4;
}
.br-t{
    border-top: 1px solid $dark-4;
}

.border-dark-4{
    border: 1px solid $dark-4;
}
.border-grey-4{
    border: 1px solid $grey-4;
}

.no-br-md{
    @media screen and (max-width: 1024px) {
        border: unset !important;
    }
}

/* buttons */
.--btn-primary{
    border: none;
    background: none;
    color: $black;
    border-radius: 5px;
    padding: 4px 10px;
    background-color: $primary;
    a{
        color: $black;
    }

}

/* typograpghy */

.f-inter {
    font-family: "Inter", sans-serif;
}